CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_d-team_newifi-d2=y
# CONFIG_TARGET_ROOTFS_INITRAMFS is not set


CONFIG_PACKAGE_luci-app-frps=y


CONFIG_PACKAGE_luci-app-samba=y
CONFIG_PACKAGE_iperf3=y

CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-wol=y
